# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/
*.log

# Raw Dataset
data/raw/*.csv

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db
# Raw Dataset
data/raw/*.csv
data/raw/*.zip